<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla::head">

</head>
<body class="sb-nav-fixed">
    <header th:replace="layout/plantilla::header">
    </header>
    <div id="layoutSidenav">
        <div th:replace="layout/plantilla::aside">
            
        </div>
        <div id="layoutSidenav_content">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Bitácora</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                            <li class="breadcrumb-item active">Bitacora</li>
                        </ol>
                        <div class="col-mb-4">
                            <div class="justify-content-center">
                                <div class="col-mb-4">
                                    <div class="card shadow-lg border-0 rounded-lg mt-3">
                                        <div class="card-header">
                                            <h3 class="text-center font-weight-light my-2" id="preHeader">Bitácora</h3>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/bitacora_ludico}" method="post" th:object="${bitacora}">
                                                <h3 class="text-center font-weight-light">Temas que se trabajaron</h3>
                                                <input class="form-control form-control-sm py-4" autocomplete="off"
                                                     type="text" name="temas_tratados" th:field="*{temas_tratados}"  required/>
                                                    <small th:if="${#fields.hasErrors('temas_tratados')}" th:errors="*{temas_tratados}" class="text-danger">Error nombre</small>
                                                <hr>
                                                <h3 class="text-center font-weight-light">En relación a lo planeado</h3>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="desarrollo">Desarrollo de las actividades en tiempo y forma</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                             type="text" name="desarrollo" th:field="*{desarrollo_actividades}" required/>
                                                            <small th:if="${#fields.hasErrors('desarrollo_actividades')}" th:errors="*{desarrollo_actividades}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="realizado">Se llevó a cabo lo planeado</label>
                                                            <input class="form-control form-control-sm py-4"autocomplete="off"
                                                             type="text" name="realizado" th:field="*{realizado}"  required/>
                                                            <small th:if="${#fields.hasErrors('realizado')}" th:errors="*{realizado}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="small mb-1"for="material">El material fue adecuado</label>
                                                    <input class="form-control form-control-sm py-4" autocomplete="off"
                                                     type="text" name="material" th:field="*{material}"  required/>
                                                    <small th:if="${#fields.hasErrors('material')}" th:errors="{material}" class="text-danger">Error nombre</small>
                                                </div>
                                                <hr>
                                                <h3 class="text-center font-weight-light">Manifestaciones de la niña/o</h3>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="actividades">Las actividades fueron interesantes y retadoras</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                             type="text" name="actividades" th:field="*{actividades}"  required/>
                                                            <small th:if="${#fields.hasErrors('actividades')}" th:errors="*{actividades}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="involucrado">Se involucró</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                            type="text" name="involucrado" th:field="*{involucrado}"  required/>
                                                            <small th:if="${#fields.hasErrors('involucrado')}" th:errors="{involucrado}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="disposicion">Tiene disposición para trabajar</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                            type="text" name="disposicion" th:field="*{disposicion}"  required/>
                                                            <small th:if="${#fields.hasErrors('disposicion')}" th:errors="*{disposicion}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="empatia">Muestra empatia</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                            type="text" name="empatia" th:field="*{empatia}"  required/>
                                                            <small th:if="${#fields.hasErrors('empatia')}" th:errors="{empatia}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="small mb-1"for="actitud">Su actitud ante las actividades</label>
                                                    <input class="form-control form-control-sm py-4" autocomplete="off"
                                                    type="text" name="actitud" th:field="*{actitud}"  required/>
                                                    <small th:if="${#fields.hasErrors('actitud')}" th:errors="{actitud}" class="text-danger">Error nombre</small>
                                                </div>
                                                <hr>
                                                <h3 class="text-center font-weight-light">Mi intervención</h3>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="interaccion">Mi interacción fue la mejor</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                            type="text" name="interaccion" th:field="*{interaccion}"  required/>
                                                            <small th:if="${#fields.hasErrors('interaccion')}" th:errors="{interaccion}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label  class="small mb-1"for="consignas_actividades">Las consignas y actividades resultaron claras</label>
                                                            <input class="form-control form-control-sm py-4" autocomplete="off"
                                                            type="text" name="consignas_actividades" th:field="*{consignas_actividades}"  required/>
                                                            <small th:if="${#fields.hasErrors('consignas_actividades')}" th:errors="{consignas_actividades}" class="text-danger">Error nombre</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="small mb-1"for="convivencia">Motivé la convivencia sana, pacifica y formativa</label>
                                                    <input class="form-control form-control-sm py-4" autocomplete="off"
                                                    type="text" name="convivencia" th:field="*{convivencia}"  required/>
                                                    <small th:if="${#fields.hasErrors('convivencia')}" th:errors="{convivencia}" class="text-danger">Error nombre</small>
                                                </div>
                                                <hr>
                                                <h3 class="text-center font-weight-light">Observaciones</h3>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="logros">Logros</label>
                                                            <textarea class="form-control form-control-sm py-4" autocomplete="off"
                                                            rows="" cols="" th:field="*{logros}" name="logros" required></textarea>
                                                            <small th:if="${#fields.hasErrors('logros')}" th:errors="*{logros}" class="text-danger">Error nombre</small>
                                                        </div>    
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="small mb-1" for="dificultades">Dificultades</label>
                                                            <textarea class="form-control form-control-sm py-4" autocomplete="off"
                                                             th:field="*{dificultades}" name="dificultades" required></textarea>
                                                            <small th:if="${#fields.hasErrors('dificultades')}" th:errors="*{dificultades}" class="text-danger">Error nombre</small>
                                                        </div>
                        
                                                    </div>
                                                </div>
                                                <input type="hidden" th:field="*{registro}" name="registro" />

                                                <div class="form-group mt-4 mb-0">
                                                    <button type="submit" class="btn btn-save btn-block">
                                                        <i class="fas fa-save"></i> Agregar
                                                    </button>
                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <br>
            </div>
            <footer th:replace="layout/plantilla::footer">
                        
            </footer>
        </div>
    </div>    

    <th:block th:replace="layout/plantilla::script"></th:block>
</body>
</html>