<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="layout/plantilla::head">

</head>

<body class="sb-nav-fixed">
    <header th:replace="layout/plantilla :: header">
    </header>
    <div id="layoutSidenav">
        <div th:replace="layout/plantilla::aside">
                
        </div>
        <div id="layoutSidenav_content">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Valoración</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Inicio</li>
                            <li class="breadcrumb-item"><a th:href="@{/ver_psic/} + ${id_usuaria}">Perfil de usuaria</a></li>
							<li class="breadcrumb-item active">Valoración psicologica</li>
						</ol>
                        <div class="card shadow-lg border-0 rounded-lg mt-3">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-2" id="preHeader">Datos de la valoración</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/expPsic}" method="post" th:object="${valoracionPojo}">      
                                    <div class="form-group">
                                        <label for="motivo">Motivo de la consulta</label>
                                        <input type="text" class="form-control" name="motivo" th:field="*{motivo_consulta}" autocomplete="off"/>
                                        <small th:if="${#fields.hasErrors('motivo_consulta')}" th:errors="*{motivo_consulta}" class="text-danger">Error nombre</small>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="familiar">Ambito familiar</label>
                                                <textarea name="familiar" class="form-control" th:field="*{familiar}" autocomplete="off"></textarea>
                                                <small th:if="${#fields.hasErrors('familiar')}" th:errors="*{familiar}" class="text-danger">Error nombre</small>
                                            </div>
                
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="laboral">Ambito laboral</label>
                                                <textarea class="form-control" name="laboral" th:field="*{laboral}" autocomplete="off"></textarea>
                                                <small th:if="${#fields.hasErrors('laboral')}" th:errors="*{laboral}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="social">Ambito social</label>
                                                <textarea class="form-control" name="social" th:field="*{social}" autocomplete="off"></textarea>
                                                <small th:if="${#fields.hasErrors('social')}" th:errors="*{social}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="sex">Ambito sexual</label>
                                                <textarea class="form-control" name="sex" id="sex" th:field="*{sexual}" autocomplete="off"></textarea>
                                                <small th:if="${#fields.hasErrors('sexual')}" th:errors="*{sexual}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label for="individual">Ambito individual</label>
                                        <textarea class="form-control" name="individual" th:field="*{individual}" autocomplete="off"></textarea>
                                        <small th:if="${#fields.hasErrors('individual')}" th:errors="*{individual}" class="text-danger">Error nombre</small>
                                    </div>
                                    <hr>
                                    <h3>Tipo de violencia</h3>
                                    <div class="form-group">
						            	<div class="form-row">
						            		<div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">
			                                        <input class="custom-control-input" type="checkbox" id="fisica" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Fisica"/>
			                                        <label class="custom-control-label" for="fisica">Fisica</label>
			                                    </div>
			                                </div>
			                                <div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">
			                                        <input class="custom-control-input" type="checkbox" id="psicologica" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Psicologica"/>
			                                        <label class="custom-control-label" for="psicologica">Psicológica</label>
			                                    </div>
			                                </div>
			                                <div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">
			                                        <input class="custom-control-input" type="checkbox" id="sexual" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Sexual"/>
			                                        <label class="custom-control-label" for="sexual">Sexual</label>
			                                    </div>
			                                </div>
			                                <div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">
			                                        <input class="custom-control-input" type="checkbox" id="economica" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Economica"/>
			                                        <label class="custom-control-label" for="economica">Económica</label>
			                                    </div>
			                                </div>
			                                <div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">     
			                                        <input class="custom-control-input" type="checkbox" id="patrimonial" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Patrimonial"/>
			                                        <label class="custom-control-label" for="patrimonial">Patrimonial</label>
			                                    </div>
			                                </div>
			                                <div class="col-md-4">
			                                    <div class="custom-control custom-checkbox">  
			                                        <input class="custom-control-input" type="checkbox" id="feminicida" name="tipo_apoyo" th:field="*{tipo_violencia}" value="Cibernetica"/>
			                                        <label class="custom-control-label" for="feminicida">Cibernético</label>
			                                    </div>
			                                </div>
		                                 </div>
			                          </div>
                                    <hr>
                                    <!--<h3>Familiograma</h3>
                                    <div class="form-group">
                                        <textarea class="form-control"  th:field="*{familiograma}" name="familiograma" autocomplete="off"></textarea>
                                        <small th:if="${#fields.hasErrors('familiograma')}" th:errors="*{familiograma}" class="text-danger">Error nombre</small>
                                    </div>
                                    <hr> -->
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="tarea">Tarea</label>
                                                <input class="form-control" type="text" name="tarea" th:field="*{tarea}" autocomplete="off"/>
                                                <small th:if="${#fields.hasErrors('familiograma')}" th:errors="*{tarea}" class="text-danger" >Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="familiograma">Observaciones</label>
                                                <input class="form-control" type="text" name="observ" th:field="*{observ}" autocomplete="off" />
                                                <small th:if="${#fields.hasErrors('observ')}" th:errors="*{observ}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="dx">DX</label>
                                                <input class="form-control" type="text" name="dx" th:field="*{dx}" autocomplete="off" />
                                                <small th:if="${#fields.hasErrors('dx')}" th:errors="*{dx}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="objetivo">Objetivo</label>
                                                <input class="form-control" type="text" name="objetivo" th:field="*{objetivo}" autocomplete="off" />
                                                <small th:if="${#fields.hasErrors('objetivo')}" th:errors="*{objetivo}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="psicologa">Nombre de la TS</label>
                                                <input class="form-control" type="text" name="psicologa" th:field="*{psicologa}" autocomplete="off" />
                                                <small th:if="${#fields.hasErrors('psicologa')}" th:errors="*{psicologa}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="canalizada">Canalizada a</label>
                                                <input class="form-control" type="text" name="canalizada" th:field="*{canalizada}" autocomplete="off" />
                                                <small th:if="${#fields.hasErrors('canalizada')}" th:errors="*{canalizada}" class="text-danger">Error nombre</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fecha">Agendar cita</label>
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <input class="form-control" type="date" name="fecha" th:field="*{fecha}" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="form-control" type="time" name="hora" th:field="*{hora}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{id_usuaria}"/>
                                    <div class="form-group mt-4 mb-0">
                                        <button type="submit" class="btn btn-save btn-block">
                                            <i class="fas fa-save"></i> Agregar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <br>
            </div>
            <footer th:replace="layout/plantilla :: footer">
            </footer>
        </div>
    </div>
    

    <th:block th:replace="layout/plantilla::script"></th:block>   
</body>
</html>