<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/plantilla::head">

</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/plantilla::header">
	</header>
	<div id="layoutSidenav">
		<div th:replace="layout/plantilla::aside">
			
		</div>
		<div id="layoutSidenav_content">
			<div id="layoutAuthentication_content">
				<main>
					<div class="container-fluid">
						<h1 class="mt-4">Preregistro</h1>
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item active">Preregistro</li>
						</ol>
						
						<div class="card-mb-4">
							<div class="justify-content-center">
								<div class="col-mb-4">
									<div class="card shadow-lg border-0 rounded-lg mt-3">
										<div class="card-header" id="prebodyHeader">
											<h3 class="text-center font-weight-light my-2" id="preHeader">Datos de
												la usuaria</h3>
										</div>
										<div class="card-body">
											<form method="post" th:action="@{/guardar}" th:object="${registro}">
												<input type="hidden" th:field="*{hora_ingreso}" >
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputFirstName">Nombre
															</label> <input class="form-control form-control-sm py-4"
																id="inputFirstName" type="text" name="nombre"
																th:field="*{nombre}" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" 
																minlength="4" placeholder="Nombre" autocomplete="off" />
															<small th:if="${#fields.hasErrors('nombre')}" class="text-danger" th:errors="*{nombre}">Error nombre</small>
																
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputEdad">Edad</label> <input
																class="form-control form-control-sm py-4" id="inputEdad"
																type="number" placeholder="Edad" name="edad" autocomplete="off"
																th:field="*{edad}" required max="99" />
															<small th:if="${#fields.hasErrors('edad')}" class="text-danger" th:errors="*{edad}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputCurp">Curp</label> <input
																class="form-control form-control-sm py-4" id="inputCurp" style="text-transform:uppercase;"
																type="text" placeholder="Curp" name="curp"
																th:field="*{curp}" minlength="18" maxlength="18" autocomplete="off"
																pattern="[A-Z0-9\s]+" title="Solo letras mayusculas y numeros" 
																required onkeyup="javascript:this.value=this.value.toUpperCase();"/>
															<small th:if="${#fields.hasErrors('curp')}" class="text-danger" th:errors="*{curp}">Error nombre</small>
														</div>
													</div>
												</div>
												<div class="form-row">
													
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectEstadoCivil">Estado
																Civil </label> <select class="form-control form-control-sm"
																id="selectEstadoCivil" th:field="*{id_estado_civil}">
																<option th:value="Soltera">Soltera</option>
																<option th:value="Casada">Casada</option>
																<option th:value="Concubinato">Concubinato</option>
																<option th:value="Socia_de_convivencia">Socia de convivencia</option>
																<option th:value="Separada">Separada</option>
																<option th:value="Viuda">Viuda</option>
																<option th:value="Divorciada">Divorciada</option>
																<option th:value="No_identificada">No identificada</option>
															</select>
															
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="pais">País</label> 
																<input
																class="form-control form-control-sm py-4" id="pais" autocomplete="off"
																type="text" name="pais"
																th:field="*{pais}" required/>
																
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectEntidadFederativa">Entidad
																Federativa </label> 
																<input
																class="form-control form-control-sm py-4" id="selectEntidadFederativa" autocomplete="off"
																type="text" name="selectEntidadFederativa"
																th:field="*{estado}" required/>
																
														</div>
													</div>
												</div>
												<div class="form-row">
													
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectMunicipio">Municipio
															</label> 
															<input
																class="form-control form-control-sm py-4" id="municipio" autocomplete="off"
																type="text" name="municipio"
																th:field="*{municipio}" required/>
															
															<span th:if="${#fields.hasErrors('municipio')}" class="text-danger" th:errors="*{municipio}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectLocalidad">Localidad
															</label> 
															<input
																class="form-control form-control-sm py-4" id="selectLocalidad" autocomplete="off"
																type="text" name="selectLocalidad"
																th:field="*{localidad}" required/>
															
														</div>
													</div>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputCalle">Calle</label>
															<input class="form-control form-control-sm py-4"
																id="inputCurp" type="text" placeholder="Calle" autocomplete="off"
																name="calle" th:field="*{calle}"  required />
															<small th:if="${#fields.hasErrors('calle')}" class="text-danger" th:errors="*{calle}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputNoExterior">No.
																Exterior</label> <input
																class="form-control form-control-sm py-4" id="inputCurp" autocomplete="off"
																type="number" placeholder="No. Exterior" name="exterior"
																th:field="*{numero_exterior}" pattern="[0-9]+" required/>
															 <small th:if="${#fields.hasErrors('numero_exterior')}" class="text-danger" th:errors="*{numero_exterior}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputNoInterior">No.
																Interior</label> <input
																class="form-control form-control-sm py-4"
																id="inputNoInterior" type="number" autocomplete="off"
																placeholder="No. Exterior" name="interior"
																th:field="*{numero_interior}" pattern="[0-9]+" />
															 <small th:if="${#fields.hasErrors('numero_interior')}" th:errors="*{numero_interior}">Error nombre</small>
														</div>
													</div>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputColonia">Colonia</label>
															<input class="form-control form-control-sm py-4"
																id="inputCurp" type="text" placeholder="Colonia" autocomplete="off"
																name="colonia" th:field="*{colonia}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
																minlength="4" required />
															<small th:if="${#fields.hasErrors('colonia')}" class="text-danger" th:errors="*{colonia}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputCP">Código
																Postal</label> <input class="form-control form-control-sm py-4"
																id="inputCurp" placeholder="Código Postal" type="text" autocomplete="off"
																name="cp" th:field="*{codigo_postal}" title="Ingrese solo números"
																required minlength="5" maxlength="5" pattern="[0-9]+"/>
															<small th:if="${#fields.hasErrors('codigo_postal')}" class="text-danger" th:errors="*{codigo_postal}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="inputTeléfono">Teléfono</label>
															<input class="form-control form-control-sm py-4"
																id="inputNoInterior" autocomplete="off"
																placeholder="Teléfono" type="text" name="telefono"
																th:field="*{telefono}" minlength="10" maxlength="10"
																pattern="[0-9]+" title="Ingrese solo números" required/>
															<small th:if="${#fields.hasErrors('telefono')}" class="text-danger" th:errors="*{telefono}">Error nombre</small>
														</div>
													</div>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="tipoServicio">Tipo de servicio</label> <select
																class="form-control form-control-sm" name="tipoServicio"
																id="tipoServicio" th:field="*{motivo_visita}">
																 <option th:value="informacion">Ficha informativa</option>
												                 <!-- <option th:value="asesoria">Asesoria</option> -->
												                 <option th:value="expediente">Expediente</option>
															</select>
															<small th:if="${#fields.hasErrors('motivo_visita')}" class="text-danger" th:errors="*{motivo_visita}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="entero">Como se enteró del CJM?</label>
															<input class="form-control form-control-sm py-4"
																id="entero" autocomplete="off"
																type="text" name="entero"
																th:field="*{tipo_atencion}"
																 required/>
															<small th:if="${#fields.hasErrors('tipo_atencion')}" class="text-danger" th:errors="*{tipo_atencion}">Error nombre</small>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectMotivoVisita">Motivo de la visita</label>
															<input class="form-control form-control-sm py-4"
																id="mot_visita" autocomplete="off"
																type="text" name="mot_visita"
																th:field="*{mot_visita}"
																 required/>
															<small th:if="${#fields.hasErrors('mot_visita')}" class="text-danger" th:errors="*{mot_visita}">Error nombre</small>
														</div>
													</div>
												</div>
												<div class="form-group mt-4 mb-0">
													<button type="submit" class="btn btn-save btn-block">
														<i class="fas fa-save"></i> Agregar
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<br>
			</div>
			<footer th:replace="layout/plantilla::footer">
					
			</footer>
		</div>
	</div>
	<th:block th:replace="layout/plantilla::script"></th:block>
</body>
</html>
