<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Registro</title>
<meta charset="UTF-8" />
</head>
<body>
	<header th:replace="layout/plantilla :: header"> </header>
	<h2>Crear expediente</h2>
	<br />
	<form th:action="@{/datos_agresor}" method="post" th:object="agresor">
		<div class="errorblock" th:if="${#fields.hasErrors('*')}">
			<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
					is incorrect</li>
			</ul>
		</div>
		<label for="curp">apellido Paterno</label> <input type="text"
			name="apellido_paterno" th:field="*{apellido_paterno}" required /> <span
			th:if="${#fields.hasErrors('apellido_paterno')}" th:errors="*{apellido_paterno}">Error
			nombre</span> <br />
			
		<label for="curp">apellido Materno</label> <input type="text"
			name="apellido_materno" th:field="*{apellido_materno}" required /> <span
			th:if="${#fields.hasErrors('apellido_materno')}" th:errors="*{apellido_materno}">Error
			nombre</span> <br />
			
		<label for="curp">nombres</label> <input type="text"
			name="nombres" th:field="*{nombres}" required /> <span
			th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}">Error
			nombre</span> <br />
			
		<label for="curp">edad</label> <input type="text"
			name="edad" th:field="*{edad}" required /> <span
			th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Error
			nombre</span> <br />
			
		<label for="fecha_nacimiento">nombres</label> <input type="text"
			name="fecha_nacimiento" th:field="*{fecha_nacimiento}" required /> <span
			th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}">Error
			nombre</span> <br />
			
		<label for="estado_civil">estado civil</label> <input type="text"
			name="estado_civil" th:field="*{estado_civil}" required /> <span
			th:if="${#fields.hasErrors('estado_civil')}" th:errors="*{estado_civil}">Error
			nombre</span> <br />
			
		<label for="nacionalidad">nacionalidad</label> <input type="text"
			name="nacionalidad" th:field="*{nacionalidad}" required /> <span
			th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}">Error
			nombre</span> <br />
			
		<label for="seudonimo">Seudonimo</label> <input type="text"
			name="seudonimo" th:field="*{seudonimo}" required /> <span
			th:if="${#fields.hasErrors('seudonimo')}" th:errors="*{seudonimo}">Error
			nombre</span> <br />
			
		<label for="grupo_etnico">Grupo etnico</label> <input type="text"
			name="grupo_etnico" th:field="*{grupo_etnico}" required /> <span
			th:if="${#fields.hasErrors('grupo_etnico')}" th:errors="*{grupo_etnico}">Error
			nombre</span> <br />
			
		<label for="conoce_agresor">Conoce al agresor?</label> <input type="text"
			name="conoce_agresor" th:field="*{conoce_agresor}" required /> <span
			th:if="${#fields.hasErrors('conoce_agresor')}" th:errors="*{conoce_agresor}">Error
			nombre</span> <br />
		
		<label for="info_adicional">Tiene información adicional sobre el agresor?</label> <input type="text"
			name="info_adicional" th:field="*{info_adicional}" required /> <span
			th:if="${#fields.hasErrors('info_adicional')}" th:errors="*{info_adicional}">Error
			nombre</span> <br />
		
		<label for="relacion_victima">El agresor tiene relacion con la victima?</label> <input type="text"
			name="relacion_victima" th:field="*{relacion_victima}" required /> <span
			th:if="${#fields.hasErrors('relacion_victima')}" th:errors="*{relacion_victima}">Error
			nombre</span> <br />
		
		<label for="sexo">Sexo</label> <input type="text"
			name="sexo" th:field="*{sexo}" required /> <span
			th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}">Error
			nombre</span> <br />
			
        <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer">

        </footer>
    </body>
</html>