<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Filiación de la victima</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>
        <h2>Red de apoyo</h2>
        <br/>
        <form th:action="@{/crear_red_apoyo}" method="post" th:object="${apoyo}">
            <div class="errorblock" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            
            <label for="tez">Tez</label>
            <input type="text" name="tez" th:field="*{tez}"  required/>
            <span th:if="${#fields.hasErrors('tez')}" th:errors="*{tez}">Error nombre</span>
            <br/>
            
            <label for="ojos">Ojos</label>
            <input type="text" name="ojos" th:field="ojos" required/>
            <span th:if="${#fields.hasErrors('ojos')}" th:errors="*{ojos}">Error nombre</span>
            <br/>

            <label for="cara">Cara:</label>
            <input type="text" name="cara" th:field="*{cara}"  required/>
            <span th:if="${#fields.hasErrors('cara')}" th:errors="*{cara}">Error nombre</span>
            <br/>

            <label for="nariz">Nariz</label>
            <input type="text" name="nariz" th:field="*{nariz}"  required/>
            <span th:if="${#fields.hasErrors('nariz')}" th:errors="{nariz}">Error nombre</span>
            <br/>
            
            <label for="cabello">Cabello</label>
            <input type="text" name="cabello" th:field="*{cabello}"  required/>
            <span th:if="${#fields.hasErrors('cabello')}" th:errors="{cabello}">Error nombre</span>
            <br/>

            <label for="boca">Boca</label>
            <input type="text" name="boca" th:field="*{boca}"  required/>
            <span th:if="${#fields.hasErrors('boca')}" th:errors="{boca}">Error nombre</span>
            <br/>
            
            <label for="estatura">Estatura</label>
            <input type="text" name="estatura" th:field="*{estatura}"  required/>
            <span th:if="${#fields.hasErrors('estatura')}" th:errors="{estatura}">Error nombre</span>
            <br/>

            <label for="senia_particular">Señas particulares</label>
            <input type="text" name="senia_particular" th:field="*{senia_particular}"  required/>
            <span th:if="${#fields.hasErrors('senia_particular')}" th:errors="{senia_particular}">Error nombre</span>
            <br/>


            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer">

        </footer>
    </body>
</html>